extends base

block content
    .content
        .page.home-page
            .narrow

                .blurbs
                    .chunk
                        p <code>eth log</code> lets you monitor logs from any ethereum contract.

                .blurbs
                    .chunk
                        p Set up your event to work like this, then go to this link.

                .blurbs
                    .chunk
                        p Check out some <a href='/recipes'>recipes</a> to get some more ideas.
