extends base

block content
    .content
        .page.home-page
            .narrow

                .blurbs
                    .chunk
                        p <code>eth log</code> lets you monitor logs from any ethereum contract.

                .blurbs
                    .chunk
                        p Create an event in your contract according to a set of standard signatures, then monitor your logs in real time with eth log.

                .blurbs
                    .chunk
                        p Check out an <a href="/logs/#{example_contract_address}">example log</a> or <a href='/examples'>example contract</a> to see how it works.
                        p Or check out some <a href='/recipes'>recipes</a> to get some more ideas.
