extends base

block content
    .content
        .page.log-page
            .narrow

                #insert
                    #logs.logs
                        .log
                            | initializing logs for contract #{contract_address}
                            if _filter
                                |   with #{JSON.stringify(_filter)}

                #block_counter

        if contract_address
            script.
                window.contract_address = "#{contract_address}"

        script(src='/socket.io/socket.io.js')
        script(src='/js/log-insert.js')